extends layout

block content
    #map-canvas
    ul#menu-box.clrfix
        li#get-all-objects.left
            Всички обекти
        li#add-object.left.last
            Добави обект на картата
        li#logout.right.last
            a(href="/logout") Изход
    #message-box