extends layout

block content
    #map-canvas
    ul#menu-box.clrfix
        li#get-all-objects
            Всички обекти
        li#add-object
            Добави обект на картата
        li#logout
            a(href="/logout") Изход
    #message-box