doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
        div#map-canvas

    <script src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
    <script src='/javascripts/global.js'></script>
    <script type="text/javascript" src="/javascripts/google_map_init.js"></script>