extends layout

block content
    #map-canvas
    #login-bg-shadow
    #login-box
        h1 Вход 
        #login-form
            fieldset
                input#inputEmail(type='text', name="email", placeholder='Имейл')
                input#inputPassword(type='password', name="password", placeholder='Парола')
                button#btnLogin Вход
