extends layout

block content
    #map-canvas
    #login-bg-shadow
    #login-box
        h1 Вход
        #login-form
            fieldset
                input#inputEmail(type='text', placeholder='Email')
                input#inputPassword(type='password', placeholder='Password')
                button#btnLogin Login
