extends layout

block content
    #map-canvas
    #login-bg-shadow
    #login-box
        h1 Вход
        input#inputEmail(type='text', placeholder='Email')
        input#inputRassword(type='password', placeholder='Password')
        button#btnLogin Login
