extends layout

block content
    #map-canvas
    #login-bg-shadow
    #login-box
        h1 Вход 
        #login-form
            fieldset
                input#inputEmail(type='text', placeholder='Имейл')
                input#inputPassword(type='password', placeholder='Парола')
                button#btnLogin Вход
                a(href='/register')#register-link Регистрация
