html, body, #map-canvas {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial;
}
h1, h2 {
    margin: 0 0 5px 0;
}
ul {
    list-style-type: none;
}
.clrfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
fieldset {
    border: 0;
}
input, button {
    border: 1px solid #ccc;
    padding: 5px;
}
button {
    cursor: pointer;
}
button:hover {
    border: 1px solid orange;
}
a {
  color: #999;
  font-weight: normal;
  text-decoration: none;
  color: inherit;
}

/* login */
#login-bg-shadow {
    z-index: 5;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}
#login-box {
    z-index: 10;
    position: absolute;
    top: 0;
    margin: 0 200px;
    padding: 10px;
    background-color: #fff;
    -moz-box-shadow: 0 0 10px #888;
    -webkit-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
}
#register-link {
    margin-left: 10px;
}

/* index */
#menu-box {
    z-index: 10;
    position: absolute;
    top: 0;
    margin: 10px 175px 0 100px;
    padding: 10px;
    background-color: #fff;
    -moz-box-shadow: 0 0 10px #888;
    -webkit-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
}
#menu-box li {
    margin: -10px 0;
    padding: 10px;
    border-right: 1px solid #f9f9f9;
    cursor: pointer;
}
#menu-box li.left {
    float: left;
}
#menu-box li.right {
    float: right;
}
#menu-box li.last {
    border-right: 0;
}
#menu-box li:hover {
    background-color: #f9f9f9;
}
#message-box {
    z-index: 9;
    position: absolute;
    top: 20px;
    margin: 0 175px 0 100px;
    padding: 5px;
    font-size: 15px;
    background-color: #FFFF99;
    -moz-box-shadow: 0 0 10px #888;
    -webkit-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
}


#all-objects, #create-object {
    z-index: 10;
    position: absolute;
    top: 0;
    margin: 55px 0 0 100px;
    padding: 10px;
    width: 300px;
    background-color: #fff;
    -moz-box-shadow: 0 0 10px #888;
    -webkit-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
}
#all-objects li {
    margin: 0 -10px;
    padding: 5px 10px;
    cursor: pointer;
}
#all-objects li:hover {
    background-color: #f9f9f9;
}
#all-objects li #delete-object-submit {
    float: right;
    font-size: 12px;
    color: #FF9900;
}
#all-objects li #delete-object-submit:hover {
    text-decoration: underline;
}
#create-object input {
    width: 275px;
}
#create-object input[required] {
    border-color: orange;
}